<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/open-sans.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>

        <header class="container">

            <div class="navbar">

                <div class="nav-link">
                    <a href="{{ path('home') }}">Le bon Endroit</a>
                </div>

                <div class="nav-link">
                    <a href="{{ path('article_list') }}">Liste</a>
                </div>

                {% if app.user %}

                    <div class="nav-link">
                        <a href="{{ path('article_add') }}">Ajouter</a>
                    </div>
                    <div class="nav-link offset-5">
                        <a href="{{ path('account') }}">Mon compte</a>
                    </div>
                    <div class="nav-link">
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    </div>

                {% else %}

                    <div class="nav-link offset-7">
                        <a href="{{ path('register') }}">Inscription</a>
                    </div>

                    <div class="nav-link">
                        <a href="{{ path("login") }}">connexion</a>
                    </div>

                {% endif %}

            </div>

        </header>

        <main class="container">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% block content %}{% endblock %}
        </main>

        <footer class="container">

            <div>
                ©2019 Le bon endroit
            </div>

        </footer>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
