{% extends "base.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block content %}

    <h1>Liste des articles</h1>

    {{ form_start(categoryForm, {
        'attr': {
            'novalidate': 'novalidate'
        }})
    }}

    {{ form_widget(categoryForm) }}

    <button class="btn btn-success">Valider</button>
    {{ form_end(categoryForm) }}

    {% for article in articles %}
        <div class="article panel panel-default">
            <div class="panel-heading">
                <a href="{{ path('article_detail', {'id': article.id}) }}"><h3>{{ article.name }}</h3></a>
                <p>Ajouté le {{ article.dateCreated|date('d-m-Y H:i:s') }} par {{ article.user.username }}</p>
                <p>{% for categorie in categories
                        if categorie.id == article.getArticleCategory.id %}
                            {{ categorie.name }}
                    {% endfor %}
                </p>
            </div>
            <div class="panel-body">
                <table class="table">
                    <th>Description</th> <th>Prix</th>
                    <tr>
                        <td class="col-10">{{ article.description }}</td>
                        <td class="col-2">{{ article.price }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}